*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image:url(img/banner/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

header li a{
    color: white;
    text-decoration: none;
    padding: 0px;
}

header li a:hover{
    color: aqua;
}

.fle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.fle {
    margin-top: 25px;
}
h1{
    color: white;
}
.Formu{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: black; 
}
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputS{
    margin-top: 10px;
    padding: 10px 11px;
}
.inputL{
    margin-top: 10px;
    padding: 60px 61px;
}
.dudas{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    width: 50%;
}
.comidita{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.Formu{
    width: auto;
    box-shadow: 0 0 25px gray;
}
.superior{
    margin-top: 25px;
}
.env{
    margin-bottom: 7px;
}

.conf22 img{
    width: 40%;
    padding: 15px;
   
}
.conf22 {
    margin-right: 35px;
}

.conf2{
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    padding: 15px;
}

.conf3{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
}

.conf3 h2{
    text-decoration: underline;
    text-transform: uppercase;
}
.conf4{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-align: center;
}

.conf4 h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.conf img{
    padding: 15px;
    width: 100%;
    margin-left: 18px;
}

footer img{
    width: 5%;
}

.ultima{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
