*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image:url(img/banner/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}
/*Cambios que hay que realizar*/
header ul{
    list-style: none;
}

header li{
    display: inline-block;
}

header li a{
    color: white;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: aqua;
}
/*Cambios que hay que realizar*/
/*Menú Hamburguesa*/
.bars__menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin:0px 100%;
    transition: all 600ms;
}
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px,2px);
}
/*Hasta aquí llega el menú hamburguesa*/
/*Aquí comienza todo lo del enviar*/
.fle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.fle {
    margin-top: 25px;
}
h1{
    color: white;
}
.Formu{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: black; 
}
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputS{
    margin-top: 10px;
    padding: 10px 11px;
}
.inputL{
    margin-top: 10px;
    padding: 60px 61px;
}
.dudas{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    width: 50%;
}
.comidita{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.Formu{
    width: auto;
    box-shadow: 0 0 25px gray;
}
.superior{
    margin-top: 25px;
}
.env{
    margin-bottom: 7px;
}
/*Aquí termina*/
/*footer*/
/*Cajas del footer*/
.conf22 {
    margin-left: 10%;
}

.conf2{
    display: flex;
    justify-content:space-between;
    padding: 10%;
}

.conf3{
    display: flex;
    justify-content:space-between;
    margin-left: 15%;
    margin-right: 1%;
}

.conf3 h2{
    text-decoration: underline;
    text-transform: uppercase;
}
.conf4{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-align: center;
 
}

.conf4 h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.ultima{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/*Cajas del footer*/
/*Imágenes del footer*/
/*Imagen de ESPORTS*/
.conf22 img{

    width: 80%;

}
/*Fin Imagen de ESPORTS*/
/*Imagen de REDES SOCIALES*/

.conf4 img{
    width: 10%;
}

/*fin de imagen de REDES SOCIALES */
/*Fin imágenes del footer*/
/*Fin footer*/

/*Menú responsive*/
@media screen and (max-width:1300px){
    .menu{
        display: flex;
        justify-content: end;
    }
    .bars__menu{
        display: block;
    }
    header{
        padding: 20px;
    }
    /*Tamaño y posición*/
   .NavB{ 
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
   }
   /*Fin de tamaño y posición*/
   /*Cómo van acomodado el menú*/
   .NavB ul li{
    display: block;
    width: fit-content;
    margin: 14px auto 14px auto;
    text-align: center;
   }
   /*Cómo va acomodado el menú*/
    
   /*Desde aquí comienza el responsive de esta página(letras y demás)*/

   /*Tamaño de acerca de nuestra página*/
   .contacto div h1{
    font-size: 26px;
   }
   /*Hasta aquí llega el de acerca de nuestra página*/

   /*Esta es una organización de...*/
   .contacto h2{
    font-size: 14px;
   }
   /*Final de esta es una organización de...*/
   /*Actualmente, presentamos equipos...*/
   .contacto h3{
    font-size: 13px;
   }
   /*Final de actualmente*/

   .contacto p{
    font-size: 12px;
   }

   /*Tamaño footer*/
   footer{
    height: 56vw;
    width: 100%;
}
   /*Fin tamaño footer*/
}
/*Menú responsivo final*/

@media screen and (max-width:900px){
    /*Consulta y demás*/
      /*Aquí comienza todo lo del enviar*/
    .fle{
        margin-bottom: 10px;
    }
    .fle {
        margin-top: 25px;
    }
    h1{
        color: white;
    }
   
    .inputS{
        margin-top: 7px;
        padding: 8px 9px;
    }
    .inputL{
        margin-top: 7px;
        padding: 45px 50px;
    }
    /*Letras que le cambian el tamaño*/
    .dudas{
        margin-top: 10px;
        font-size: 12px;
    }
    .comidita{
        font-size: 10px;
    }
    /*Letras que le cambian el tamaño*/
    .superior{
        margin-top: 25px;
    }
    .env{
        margin-bottom: 7px;
    }
    /*Aquí termina*/
        /*Consulta y demás final*/

    /*Footer tamaños*/    
    footer{
        height: 55vw;
        width: 100%;
    }
    footer h5{
        font-size: 10px;
    }
    footer h2{
        font-size: 12px;
    }
    footer h4{
        font-size: 10px;
    }
    /*Finalización footer tamaños*/
}
@media screen and (max-width:750px){
    /*Tamaño de la página*/
     /*Consulta y demás*/
      /*Aquí comienza todo lo del enviar*/
      .fle{
        margin-bottom: 20px;
    }
    .fle {
        margin-top: 25px;
    }
    h1{
        color: white;
    }
   
    .inputS{
        margin-top: 7px;
        padding: 4px 2px;
    }
    .inputL{
        margin-top: 7px;
        padding: 25px 30px;
    }
    /*Letras que le cambian el tamaño*/
    .dudas{
        margin-top: 10px;
        font-size: 6.5px;
    }
    .comidita{
        font-size: 6.5px;
    }
    /*Letras que le cambian el tamaño*/
    .superior{
        margin-top: 25px;
    }
    .env{
        font-size: 7px;
        margin-bottom: 7px;
    }
    /*Aquí termina*/
        /*Consulta y demás final*/
    /*Tamaño de la página*/
    /*Footer tamaños letras*/
    footer{
        height: 100vw;
        width: 100%;
    }
    footer h5{
        font-size: 13px;
    }
    footer h2{
        font-size: 10px;
    }
    footer h4{
        font-size: 9px;
    }
    footer img{
        width: 7%;
    }
    /*Footer final*/
   

    /*Footer Secciones tamaño*/
    
    /*Footer Secciones tamaño final*/
}

@media screen and (max-width:450px){
    /*Tamaño footer*/
   footer{
    height: 80vw;
}
   /*Fin tamaño footer*/
}