*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.bars__menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin:0px 100%;
    transition: all 600ms;
}
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px,2px);
}


body{

    background-color: #feedd5;
}


header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}

header ul{
    list-style: none;
}

header li{
    display: inline-block;
}

header li a{
    color: white;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: aqua;
}

.bars__menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin:0px 100%;
    transition: all 600ms;
}
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px,2px);
}

.inicio{
 margin-left: 30%;
}

.inicio input{
margin-left: 10%;

}

.tabla{
color: white;
display: flex;
background-color: black;
justify-content: center;
text-align: left;
font-size: 15px;
width: 60%;
height: auto;
margin-left: 20%;
border-bottom: 2px solid gray;
padding-bottom: 2%;


}

table{
    color: black;
    background-color: white;
    margin: 0px;
    border-collapse: collapse;

}


th{
text-align: center;
}

td {
    padding: 20px;
    border: 1px solid black;

}

button{
    background-color: #84b6f4;
    color: white;
    border: 2px solid #84b6f4;


    
    
}

.editar{
background-color: green;
color: white;
border:none;
margin-left: 5px;
width: 60px;

}

.eliminar{
    background-color: red;
    color: white;
    border:none;
    margin-left: 5px;
    width: 60px;

}


.actuagrega{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18%;

    

    
}

.agregar{
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    background-color: black;
    color: white;
    width: 20%;
    height: 400px;
    padding: 5%;
    border-bottom: 2px solid gray;
   
}

.actualizar{
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    margin-left: 10.5%;
    background-color: black;
    color: white;
    width: 20%;
    height: 400px;
    padding: 5%;

    border-bottom: 2px solid gray;
}


.conf22 {
    margin-left: 10%;
}

.conf2{
    display: flex;
    justify-content:space-between;
    padding: 10%;
}

.conf3{
    display: flex;
    justify-content:space-between;
    margin-left: 15%;
    margin-right: 1%;
}

.conf3 h2{
    text-decoration: underline;
    text-transform: uppercase;
}
.conf4{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-align: center;
 
}

.conf4 h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.ultima{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.conf22 img{

    width: 80%;

}


.conf4 img{
    width: 10%;
}



@media screen and (max-width:1300px){
    .menu{
        display: flex;
        justify-content: end;
    }
    .bars__menu{
        display: block;
    }
    header{
        padding: 20px;
    }
   
   .NavB{ 
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
   }
  
   .NavB ul li{
    display: block;
    width: fit-content;
    margin: 14px auto 14px auto;
    text-align: center;
   }
}