*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    margin: 0px;
}


header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin: 0px;
}

header li a{
    color: white;
    text-decoration: none;
    padding: auto;
}

header li a:hover{
    color: aqua;
}


nav{
    display: flex;
    flex-direction: row;




}

.line{
background-color: white;
height: 65%;
width: 3px;

}

a{
    text-decoration: none;
    color: white;

}

li{
    list-style: none;
    margin: 0px;
   
}

.inicio{

 margin-left: 30%;
}

.tabla{
display: flex;
flex-direction: row;
background-color: #dceafc;
align-items: center;
justify-content: center;
width: 50%;
margin-left: 25%;
border-bottom: 1px solid #8f9cad;
    border-left: 1px solid #8f9cad;

}

.accion{
display: flex;
flex-direction: column;
width: 135px;
background-color: #dceafc;
margin-top: 20px;


}
.actuagrega{
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    align-items: center;
    margin-left: 5%;

    
}

.agregar{
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: #dceafc;
    width: 40%;
    height: 400px;
    padding: 5%;
    border-bottom: 1px solid #8f9cad;
    border-left: 1px solid #8f9cad;
}

.actualizar{
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: #dceafc;
    width: 40%;
    height: 400px;
    padding: 5%;

    border-bottom: 1px solid #8f9cad;
    border-left: 1px solid #8f9cad;

}