*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

header li a{
    color: white;
    text-decoration: none;
    padding: auto;
}

header li a:hover{
    color: aqua;
}







.Contenedorflex{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.conf{
    display: flex;
    justify-content:space-between;
    margin-left: 90px;
}

.Contenedorflex{
    display: flex;
    align-items: center;
    
}

#conf{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    grid-gap: 30px;
    }
    
#conf img{
    width: 98%;
    transition: all 300ms;
    position: relative;
    margin: 10%;
}
    
#conf img:hover{
    transform: scale(1.15,1.15);
 }

.msr-top-20{
    margin-top: 30px;
}









.conf22 img{
    width: 40%;
    padding: 15px;
   
}
.conf22 {
    margin-right: 35px;
}

.conf2{
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    padding: 15px;
}

.conf3{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
}

.conf3 h2{
    text-decoration: underline;
    text-transform: uppercase;
}
.conf4{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-align: center;
}

.conf4 h2{
    text-decoration: underline;
    text-transform: uppercase;
}


.conf img{
    padding: 15px;
    width: 100%;
    margin-left: 18px;
}

footer img{
    width: 5%;
}


.ultima{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}